<!DOCTYPE html>
<html>
  <head>
    <title>Courses of metan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-fluid">
    <%= link_to 'Log out', log_out_path, class: 'btn btn-info', method: :delete if current_user %>
    <%= yield %>
    </div>
  </body>
</html>
